@import url("https://fonts.googleapis.com/css?family=Rubik");
* 
{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik',sans-serif;
    font-size: 1em;
    color: #707070;
    text-align: center;
}

h1{
    color: #3B3B3B;
    font-size: 2em;
}

h3 {
    color: #3B3B3B;
    font-size: 1.375em;
}

/*****************************************/
/* Estilos de headernav */
/*****************************************/
#headernav{
    background: #ECECEC;
}

.link-menu{
    color: #707070;
    text-decoration: none;
}

a:hover{
    color: #6984E6;
}

/*****************************************/
/* Estilos de principal */
/*****************************************/
#principal{
    margin-top: 3.125em;
    /*height: 28.125em;*/
}

.espacio {
    min-height: calc(100vh - 4.6875em);
}

/*****************************************/
/* Estilos de pie */
/*****************************************/

#pie {
    background: #3B3B3B;
    color: #FFFFFF;
    height: 4.6875em;
}



/*****************************************/
/* Estilos de producto */
/*****************************************/
.espacio-row{
    padding-top: 3em;
    padding-bottom: 3em;
}

#producto {
    background: -webkit-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6858EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg, #6858EA 10%, #6ACBE0 90%);
    color: #FFFFFF;
}

/*****************************************/
/* Estilos de contacto */
/*****************************************/
